/* General Settings */

body {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}

/* Navigation Bar */

.nav-header {
    background-color: #546A7B;
    text-align: center;
    height: 62px;
}

.nav-header ul {
    list-style: none;
    margin: 16px;
    padding: 0;
    display: inline-block;
}

.nav-header ul li {
    margin: 0;
    padding: 0;
    float: left;
}

.nav-header ul li a {
    text-decoration: none;
    padding: 3px 55px;
    font-size: 20px;
    font-weight: 900;
    color: #FDFDFF;
    display: block;
}

/* Introduction Photo and Text */

.intro-container {
    position: relative;
    text-align: center;
    background-color: #62929E;
    margin-bottom: 70px;
}

.intro-img {
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.intro-phrase {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FDFDFF;
}

/* Main Content */

.main-content {
    text-align: center;
}

.main-content h2 {
    margin-bottom: 50px;
    color: #393D3F;
}

.content-text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 19px;
}

.horizontal-line {
    width: 20%;
    margin-bottom: 40px;
}

/* Profile Content */

.profile-content {
    width: 850px;
    height: 180px;
    border: solid;
    margin-left: auto;
    margin-right: auto;
}

.profile-img {
    width: 50%;
    height: 100%;
    float: left;
}

.profile-content>p {
    position: relative;
    top: 20%;
}

button {
    position: relative;
    top: 25%;
    background-color: #546A7B;
    color: #FDFDFF;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
}

.profile-btn {
    text-decoration: none;
    color: #FDFDFF;
}

/* Footer */

footer {
    clear: both;
}

.nav-footer {
    background-color: #546A7B;
    text-align: center;
    margin-top: 100px;
}

.nav-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.nav-footer ul li {
    margin: 23px
}

.nav-footer ul li p {
    font-size: 22px;
    color: #C6C5B9;
}

.nav-footer ul li a {
    text-decoration: none;
    font-size: 22px;
    color: #FDFDFF;
    font-weight: 900;
}

/* Profile Page Img */

.profile-container {
    position: relative;
    text-align: center;
    background-color: #62929E;
    margin-bottom: 70px;
}

.profile-main-img {
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

/* Profile Table */

.profile-table-container {
    text-align: left;
    width: 60%;
    display: inline-block;
    margin-top: 50px;
}

.profile-table {
    width: 100%;
    border: 1px solid;
    border-color: #393D3F;
    border-collapse: collapse;
}

.profile-table tr,
td {
    border: 1px solid;
    padding: 15px 30px;
}

.left-col {
    width: 30%;
}

/* Responsive with breakpoint at 980px width*/
@media (max-width: 980px) {
    .nav-header {
        text-align: left;
    }
}