/* General Settings */

body {
    margin: 0;
}

/* Navigation Bar */

nav {
    background-color: #70a3d4;
    text-align: center;
    height: 62px;
}

nav ul {
    list-style: none;
    margin: 13px;
    padding: 0;
    display: inline-block;
}

nav ul li {
    margin: 0;
    padding: 0;
    float: left;
}

nav ul li a {
    text-decoration: none;
    padding: 3px 55px;
    font-size: 20px;
    font-weight: 900;
    color: black;
    display: block;
}

/* Introduction Photo and Text */

.intro-container {
    position: relative;
    text-align: center;
}

.intro-img {
    width: 100%;
}

.intro-phrase {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Main Content */

.main-content {
    text-align: center;
}

.content-text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 19px;
}

.horizontal-line {
    width: 20%;
    margin-bottom: 40px;
}